input, label {vertical-align:middle}
.qrcode-text {
	/*padding-right:1.7em;*/
	margin-right:0
}
.qrcode-text-btn {
	display:inline-block;
	background:url('../img/scan.png') 50% 50% no-repeat;
	height:3.7em;
	width:15em;
	/*margin-left:-1.7em;*/
	cursor:pointer
}
.qrcode-text-btn > input[type=file] {
	position:absolute;
	overflow:hidden;
	width:1px;
	height:1px;
	opacity:0
}